.let_content .table-hover {
    border: 1px solid #ddd
}
.table-hover th,
.table-hover td {
    text-align: center;
    border: 1px solid #ddd
}
.btn-lg {
    width: 82px;
    height: 34px;
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 20px;
}